<% if !@game.has_all_players? %>
	Waiting for an opponent to join the game...
<% elsif @game.finished? %>
	<%=h @game.winner.name%> is the winner!
<% else %>
	Now playing <%=@game.find_opponent(current_player).name %>

	<% if @game.already_made_choice?(current_player)%>
		You have chosen <%=h @game.current_choice(current_player).name%>
	<% else %>
		<p>Choose your weapon!</p>
		<% for weapon in @game.weapons %>
	    	<div><%=link_to weapon.name, deliver_path(:id => @game.key, :weapon => weapon) %></div>
		<% end %>
	<% end %>
<% end %>
