<% if !authenticated? %>	
	<%=error_messages_for 'user'%>
	
	<% form_for :User do |f| -%>
		<fieldset>
		<p>
		<%= f.label :email, "Email Address" %><br />
		<%= f.text_field :email %>
		</p>
		<p>
			<%= image_submit_tag("buttons/send.png", :id => "send", :name => "send") %>
		</p>
		</fieldset>
	<% end -%>
<% end %>