<% if !stats.blank? %>
  <div id="topwinners">
  <h2>Top Winners</h2>
  <% for stat in stats %>
  	<div class="winner">
		<h3><%=h stat.wins%> Games (<%=h stat.player.name%>)</h3>
	</div>
  <% end %>
</div>
<% end %>
